<div class="bg-blue text-white rounded row mb-2 w-100">
    <div class="mx-auto row">
        <tr class="">
            <td class="border border-white h5 bg-darkblue">{{position}}.</td>
            <td class="border border-white h5">{{username}}</td>
            <td class="border border-white h5">{{firstName}}</td>
            <td class="border border-white h5">{{lastName}}</td>
            <td class="border border-white h5">
                <a href="/administration/users/{{_id}}" class="link-white">
                    <i class="far fa-eye size-3 m-3  scale"></i>
                </a>
            </td>
        </tr>
    </div>
</div>