<div class="bg-blue text-white rounded row mb-2 w-100">
    <div class="mx-auto row">
        <tr class="p-2">
            <td class="border border-white h5 bg-darkblue">{{position}}.</td>
            <td class="border border-white h5 p-3">{{username}}</td>
            <td class="border border-white h5 p-3">{{firstName}}</td>
            <td class="border border-white h5 p-3">{{lastName}}</td>
            <td class="border border-white h5 p-3">
                <a href="/administration/users/{{_id}}" class="link-white">
                    <button class="btn btn-white p-2">Инфо</button>
                </a>
            </td>
        </tr>
    </div>
</div>