<section class="section-area mx-auto mt-2 jumbotron w-99 row">
    <section class="col-md-3">
        <ul class="list-group">
            <a href="/forum/create" class="btn btn-outline-info mb-3">Нов Въпрос + </a>
            {{#each elements}}
                <li class="list-group-item list-group-item-action text-center">
                    <a href="/forum/{{key}}?page=1" class="forum-a">{{value}}</a>
                </li>
            {{/each}}

        </ul>
    </section>
    <section class="col-md-9">
        {{#if questions}}
            {{#each questions}}
                <div class="bg-light mb-3 question-forum-section">
                    <div class="row p-3">
                        <a href="/forum/questions/{{_id}}" class="mr-auto link link-title-forum">
                            <h3 class="mr-auto">{{title}}</h3>
                        </a>
                        <div class="row p-3 link-dark">
                            <h4 class="mr-1 font-weight-bold">{{likes}}</h4>
                            <i class="far fa-thumbs-up two-em-font-size"></i>
                            <h4 class="mr-1 font-weight-bold">{{dislikes}}</h4>
                            <i class="far fa-thumbs-down two-em-font-size"></i>
                        </div>
                    </div>
                    <p>{{content}}</p>
                    {{#if isAdmin}}
                        <a href="/forum/questions/delete/{{_id}}">
                            <button class="btn btn-danger mb-2 mr-auto">DELETE</button>
                        </a>
                    {{/if}}
                </div>
            {{/each}}
            <ul class="pagination justify-content-center">
                {{#if previousPage}}
                    <li class="page-item"><a class="page-link" href="/forum?page={{previousPage}}">Назад</a></li>
                {{/if}}
                <li class="page-item"><a class="page-link page-link-active" href="#">{{currentPage}}</a></li>
                {{#if nextPage}}
                    <li class="page-item"><a class="page-link" href="/forum?page={{nextPage}}">Напред</a></li>
                {{/if}}
            </ul>
        {{else}}
            <h2 class="h2 text-center m-3">Още няма зададени въпроси на тази тема</h2>
        {{/if}}
    </section>

</section>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="./js/chat.js"></script>
