<div class="col-lg- text-center mt-2">
    <a href="/rankings?page=1" class="btn btn-outline-light">Обща</a>
    <a href="/rankings/rabbits?page=1" class="btn btn-outline-light">Зайци (5-7 клас)</a>
    <a href="/rankings/wolves?page=1" class="btn btn-outline-light">Вълци (8-10 клас)</a>
    <a href="/rankings/lions?page=1" class="btn btn-outline-light">Лъвове (11-12 клас)</a>
    <a href="/rankings/teachers?page=1" class="btn btn-outline-light">Учители</a>
</div>
<section class="section-area mx-auto mt-2 jumbotron w-99 row">
    <h2 class="text-center mx-auto">Класиране</h2>
    <section class="row text-center ml-auto col-lg-12">
        <table class="bg-skyblue text-white">
            <tr class="">
                <th class="border border-white bg-darkblue"></th>
                <th class="border border-white bg-darkblue p-1">Потребителско име</th>
                <th class="border border-white bg-darkblue p-1">Точки</th>
            </tr>
            {{#each users}}
                <div class="bg-blue text-white rounded row mb-2 w-100">
                    <div class="mx-auto row">
                        <tr class="">
                            <td class="border border-white h5 bg-darkblue p-3">{{position}}.</td>
                            <td class="border border-white h5 p-3">{{username}}</td>
                            <td class="border border-white h5 p-3">{{points}}</td>
                        </tr>
                    </div>
                </div>
            {{/each}}
        </table>
    </section>
    <ul class="pagination justify-content-center mx-auto mt-3">
        {{#if previousPage}}
            <li class="page-item"><a class="page-link" href="/rankings?page={{previousPage}}">Previous</a></li>
        {{/if}}
        <li class="page-item"><a class="page-link page-link" href="#">{{currentPage}}</a></li>
        {{#if nextPage}}
            <li class="page-item"><a class="page-link" href="/rankings?page={{nextPage}}">Next</a></li>
        {{/if}}
    </ul>
</section>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="./js/chat.js"></script>
