{{#if currentUser}}
    {{> header-logged}}
{{else}}
    {{> header-not-logged}}
{{/if}}
{{#if errorMessage}}
    {{> error-message}}
{{/if}}
{{#if successMessage}}
    {{> success-message}}
{{/if}}
<section class="container mx-auto mt-5 jumbotron section-shadow border-orange">
    <h1 class="h1 text-center border-bottom border-dark pb-3 mb-2 text-blue">Добави Въпрос</h1>
    <form action="/administration/questions/add" method="post">
        <div class="row offset-lg-1">
            <div class="col-lg-10 mb-1">
                <p class="d-inline-block mb-1 text-primary font-weight-bold">Въведи въпрос:</p>
                <div class="input-group mb-2 bg-info">
                    <div class="input-group-prepend ">
                        <div class="input-group-text bg-blue"><i class="fas fa-user text-white"></i></div>
                    </div>
                    <textarea name="description" class="form-control font-weight-bold text-primary" id="description-area" placeholder="Въведи въпрос...">{{obj.description}}</textarea>
                </div>
            </div>
            <div class="col-lg-5">
                <p class="d-inline-block mb-1 text-primary font-weight-bold">Отговор А:</p>
                <div class="input-group mb-2 height-75">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-blue"><i class="fas fa-user text-white"></i></div>
                    </div>
                    <textarea name="answerA"class="form-control font-weight-bold text-primary " placeholder="Отговор А...">{{obj.answerA}}</textarea>
                </div>
            </div>
            <div class="col-lg-5">
                <p class="d-inline-block mb-1 text-primary font-weight-bold">Отговор Б:</p>
                <div class="input-group mb-2 height-75">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-blue"><i class="fas fa-user text-white"></i></div>
                    </div>
                    <textarea name="answerB"class="form-control font-weight-bold text-primary" placeholder="Отговор Б...">{{obj.answerB}}</textarea>
                </div>
            </div>
        </div>
        <div class="row offset-lg-1">
            <div class="col-lg-5">
                <p class="d-inline-block mb-1 text-primary font-weight-bold">Отговор В:</p>
                <div class="input-group mb-2 height-75">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-blue"><i class="fas fa-user text-white"></i></div>
                    </div>
                    <textarea name="answerC"class="form-control font-weight-bold text-primary " placeholder="Отговор В...">{{obj.answerC}}</textarea>
                </div>
            </div>
            <div class="col-lg-5">
                <p class="d-inline-block mb-1 text-primary font-weight-bold">Отговор Г:</p>
                <div class="input-group mb-2 height-75">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-blue"><i class="fas fa-user text-white"></i></div>
                    </div>
                    <textarea name="answerD"class="form-control font-weight-bold text-primary" placeholder="Отговор Г...">{{obj.answerD}}</textarea>
                </div>
            </div>
            <div class="col-lg-5">
                <p class="d-inline-block mb-1 text-primary font-weight-bold">Верен отговор:</p>
                <div class="input-group mb-2 height-75">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-blue"><i class="fas fa-user text-white"></i></div>
                    </div>
                    <textarea name="correctAnswer"class="form-control font-weight-bold text-primary" placeholder="Верен отговор...">{{obj.correctAnswer}}</textarea>
                </div>
            </div>
            <div class="col-lg-5">
                <p class="d-inline-block mb-1 text-primary font-weight-bold">Трудност:</p>
                <select class="custom-select font-weight-bold" name="difficulty">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>
        <div class="row offset-lg-1 mb-2">
            <div class="col-lg-5">
                <p class="d-inline-block mb-1 text-primary font-weight-bold">Клас:</p>
                <select class="custom-select font-weight-bold" name="class" id="grade">
                    <option value="5">5 клас</option>
                    <option value="6">6 клас</option>
                    <option value="7">7 клас</option>
                    <option value="8" selected>8 клас</option>
                    <option value="9">9 клас</option>
                    <option value="10">10 клас</option>
                    <option value="11">11 клас</option>
                    <option value="12">12 клас</option>
                </select>
            </div>
            <div class="col-lg-5">
                <p class="d-inline-block mb-1 text-primary font-weight-bold">Предмет:</p>
                <select class="custom-select font-weight-bold" name="subject" id="subject">
                    <option value="bulgarian">Български език и литература</option>
                    <option value="english">Английски език</option>
                    <option value="german">Немски език</option>
                    <option value="russian">Руски език</option>
                    <option value="maths">Математика</option>
                    <option value="informatics">Информатика</option>
                    <option value="technologies">Информационни технологии</option>
                    <option value="history">История</option>
                    <option value="geography">География</option>
                    <option value="psychology">Психология и логика</option>
                    <option value="biologie">Биология</option>
                    <option value="physics">Физика и астрономия</option>
                    <option value="philosophy">Философия</option>
                    <option value="science">Химия и опазване на околната среда</option>
                    <option value="music">Музика</option>
                    <option value="world-and-personality">Свят и личност</option>
                    <option value="art">Изобразително изкуство</option>
                    <option value="sport">Физическо възпитание и спорт</option>
                </select>
            </div>
        </div>
        <div class="d-block text-center">
            <input type="hidden" name="author" value="{{currentUser.username}}">
            <input type="submit" class="btn btn-outline-info p-3 m-3 mx-auto" value="SUBMIT">
        </div>
    </form>
</section>